@plugin "daisyui/theme" {
    name: "dark";
    default: true;
    prefersdark: true;
    color-scheme: "dark";
    --color-base-100: oklch(14% 0 0);
    --color-base-200: oklch(20% 0 0);
    --color-base-300: oklch(26% 0 0);
    --color-base-content: oklch(97% 0 0);
    --color-primary: oklch(69% 0.17 162.48);
    --color-primary-content: oklch(26% 0.051 172.552);
    --color-secondary: oklch(67% 0.182 276.935);
    --color-secondary-content: oklch(25% 0.09 281.288);
    --color-accent: oklch(69% 0.17 162.48);
    --color-accent-content: oklch(26% 0.051 172.552);
    --color-neutral: oklch(37% 0.077 168.94);
    --color-neutral-content: oklch(97% 0.021 166.113);
    --color-info: oklch(52% 0.105 223.128);
    --color-info-content: oklch(98% 0.019 200.873);
    --color-success: oklch(51% 0.096 186.391);
    --color-success-content: oklch(98% 0.014 180.72);
    --color-warning: oklch(55% 0.163 48.998);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(51% 0.222 16.935);
    --color-error-content: oklch(96% 0.015 12.422);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(96% 0.007 247.896);
    --color-base-300: oklch(92% 0.013 255.508);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(84% 0.143 164.978);
    --color-primary-content: oklch(26% 0.051 172.552);
    --color-secondary: oklch(78% 0.115 274.713);
    --color-secondary-content: oklch(25% 0.09 281.288);
    --color-accent: oklch(87% 0.15 154.449);
    --color-accent-content: oklch(26% 0.065 152.934);
    --color-neutral: oklch(51% 0.096 186.391);
    --color-neutral-content: oklch(98% 0.014 180.72);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.013 236.62);
    --color-success: oklch(76% 0.233 130.85);
    --color-success-content: oklch(98% 0.031 120.757);
    --color-warning: oklch(76% 0.188 70.08);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(65% 0.241 354.308);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}
